{% extends "../layouts/dashboard.njk" %}

{% block navigation %}
  {% include "../modules/dashboard/navigation/navigation.njk" %}
{% endblock %}

{% block header %}
  {% include "../modules/dashboard/header/header.njk" %}
{% endblock %}

{% block main %}
  <main>Страница в разработке</main>
{% endblock %}