<nav class='dashboard_nav'>
  <a href="#" class="dashboard_nav__header">
    <img src="{{filePass}}img/dashboard/logo.png" alt="логотип">
  </a>
  <div class="dashboard_nav__menu">
    <a href="/admin/dashboard" class="dashboard_nav__menu-item{{ ' active' if pageName == 'dashboard' }}">Дашборд</a>
    <a href="/admin/orders" class="dashboard_nav__menu-item{{ ' active' if pageName == 'orders' }}">Заказы</a>
    <a href="#" class="dashboard_nav__menu-item">Статистика</a>
  </div>
</nav>