<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  {# <meta name="color-scheme" content="light dark"> #}
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Shartzzz">
  <link rel="stylesheet" href="{{filePass}}{{cssFile}}.css">
  {# <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="./assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./assets/favicon/favicon.png">
    <link rel="manifest" href="manifest.json"> #}
</head>