<header class="dashboard__header">
  <input type="search" class="dashboard__search" placeholder="Поиск">
  <div class="dashboard__user">
    <img src="{{filePass}}img/dashboard/notice.svg" alt="Уведомления" class="dashboard__notice-img">
    <div class="dashboard__avatar">
      <img src="{{filePass}}img/dashboard/user.svg" alt="Пользователь" class="dashboard__user-img">
    </div>
    <strong>Иван Иванов</strong>
  </div>
</header>